@import "../styles/commons.scss";

.camera-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.cameraIcon {
  width: 20vw;
  margin-bottom: 70vh;
  background-color: $deep-purple;
}
