@import "../styles/commons.scss";

.dropZone {
  border: 2px solid $yellow;
  padding: 1rem;
  border-radius: 15px;
  text-align: center;
  width: 28rem;
  margin: auto;
}
.Upload-Icon {
  width: 4rem;
  background-color: $yellow;
  border-radius: 45%;
  padding: 0.4rem;
  margin-top: 1rem;
}
