.info-street-art {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  text-align: left;
  border-radius: 4px;
}

.info-street-art h2 {
  font-size: 0.6rem;
  color: black;
}

.info-street-art p {
  font-size: 0.6rem;
  color: black;
}

.info-street-art img {
  max-width: 50%;
  border-radius: 4px;
}

.info-street-art h3 {
  font-size: 0.6rem;
  color: black;
}
