@import "../styles/commons.scss";

.navbar {
  border-top: 3px solid $yellow;
  border-bottom: 3px solid $yellow;
  background-color: $deep-purple;
  padding: 15px;
  font-family: "Roboto";
  display: flex;
  justify-content: space-around;
  align-items: center;
  h3 {
    margin-bottom: 1vh;
    color: $extra-light-yellow;
  }

  .nav-link {
    @include flex-center;
    text-decoration: none;
  }
  .img-nav-link {
    text-decoration: none;

    &:hover {
      text-decoration: underline $yellow;
      color: $yellow;
      -webkit-text-fill-color: $yellow;
      text-decoration-thickness: 0.1rem;
      text-underline-offset: 1rem;
    }
    ::selection {
      color: $yellow;
    }
    &.active {
      text-decoration: underline $yellow;
      color: $yellow;
      -webkit-text-fill-color: $yellow;
      text-decoration-thickness: 0.1rem;
      text-underline-offset: 1rem;
    }
  }
}
