@import "../styles/commons.scss";

.navbar-sa {
  margin-top: 2%;
  background-color: $deep-purple;

  ul {
    display: flex;
    justify-content: space-around;

    li {
      list-style-type: none;

      a {
        text-decoration: none;
        color: $extra-light-yellow;

        &:hover {
          text-decoration: underline $red;
          color: $red;
          -webkit-text-fill-color: $red;
          text-decoration-thickness: 0.1rem;
          text-underline-offset: 1rem;
        }

        ::selection {
          color: $red;
        }

        &.active {
          text-decoration: underline $red;
          color: $red;
          -webkit-text-fill-color: $red;
          text-decoration-thickness: 0.1rem;
          text-underline-offset: 1rem;
        }
      }
    }
  }
}
