@import "../styles/commons.scss";

.navbar-mobile {
  border-top: 3px solid $yellow;
  padding-top: 30px;
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0px;
  width: 100%;
}
