@import "../styles/commons.scss";

.navbar-sa {
  margin-top: 2%;
  background-color: $deep-purple;

  ul {
    display: flex;
    justify-content: space-around;

    li {
      list-style-type: none;

      a {
        text-decoration: none;
        color: $extra-light-yellow;
      }
    }
  }
}
