@import "./commons.scss";

.backdrop {
  background-color: $deep-purple;
  left: 0;
  bottom: 100px;
  padding-bottom: 20vh;
  display: flex;
  justify-content: center;
  button {
    margin-bottom: 2vh;
  }
  .text-link,
  a {
    color: #746382;
  }

  .modal,
  .modal-register {
    width: 90%;
    position: fixed;
    top: 5vh;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px;
    background-color: $deep-purple;
    border-radius: 0.5rem;

    p {
      margin-bottom: 5vh;
    }

    header {
      div {
        display: flex;
        flex-direction: column;
        .img-modal {
          display: flex;
          justify-content: flex-end;
        }
        img {
          cursor: pointer;
          width: calc(60px - 4vh);
        }
      }
    }
  }

  .content {
    display: flex;
    justify-content: center;
    form {
      display: flex;
      flex-direction: column;
      width: 90%;
      label {
        text-align: left;
      }
      .yell {
        color: $yellow;
      }
    }

    input,
    textarea {
      font-family: "roboto";
      font-style: oblique;
      padding: 4px 8px;
      border-radius: 2px;
      margin-top: 5px;
      margin-bottom: 20px;
      border-color: $extra-light-yellow;
      background-color: $extra-light-yellow;
      color: $deep-purple;

      &::placeholder {
        color: #746382;
      }
      textarea {
        max-width: 50%;
      }
    }
  }
  .footer-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    .checkbox-RGPD {
      margin-bottom: 2vh;
    }
    .err-msg {
      color: $red;
    }
  }
  .modal-register {
    position: static;
  }
}

@media screen and (min-width: 360px) and (max-width: 768px) {
  .modal {
    width: 50%;
    padding: 15px 15px 40px 15px;
    input,
    label {
      font-size: calc(1.8rem - 1.5vw);
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .modal {
    width: 50%;
    padding: 15px 15px 40px 15px;
    form {
      padding: 0 10 0 10;
      input,
      label {
        font-size: calc(1.8rem - 1.5vw);
      }
    }
    p {
      font-size: calc(1.8rem - 1vw);
    }
  }
}

@media screen and (min-width: 1024px) {
  .backdrop {
    display: flex;
    justify-content: center;

    .modal {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      p {
        font-size: calc(2.2rem - 1.1vw);
      }
      input,
      label {
        font-size: calc(2.2rem - 1.1vw);
      }
      form {
        max-width: 80%;
      }
    }
    .modal-register {
      position: static;
      width: 50%;
    }
  }
}
