@import "./commons.scss";

.backdrop {
  background-color: $deep-purple;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.modal {
  position: fixed;
  top: 5vh;
  left: calc(8vw + 2%);
  right: calc(8vw + 2%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 15px 15px 40px 15px;
  background-color: $deep-purple;
  border-radius: 0.5rem;
  z-index: 11;
  overflow: hidden;

  p {
    margin-bottom: 5vh;
  }
  header {
    div {
      display: flex;
      flex-direction: column;
      .img-modal {
        display: flex;
        justify-content: flex-end;
      }
      img {
        cursor: pointer;
        width: calc(60px - 4vh);
      }
    }
  }
}

.content {
  display: flex;
  justify-content: center;
  form {
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  input {
    font-style: oblique;
    padding: 4px 8px;
    border-radius: 2px;
    margin-top: 5px;
    margin-bottom: 20px;
    border-color: $extra-light-yellow;
  }
}
.footer-modal {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 30px;
  .checkbox-RGPD {
    margin-bottom: 2vh;
  }
}

@media screen and (min-width: 360px) and (max-width: 768px) {
  .modal {
    top: 5vh;
    left: calc(8vw + 2%);
    right: calc(8vw + 2%);
    padding: 15px 15px 40px 15px;
    p {
      font-size: calc(1.5rem - 1vw);
    }
    input {
      font-size: calc(1.8rem - 1.5vw);
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .modal {
    top: 6vh;
    left: calc(15vw + 10%);
    right: calc(15vw + 10%);

    padding: 15px 15px 40px 15px;
    form {
      padding: 0 10 0 10;
    }
    p {
      font-size: calc(1.8rem - 1vw);
    }
    input {
      font-size: calc(1.8rem - 1.5vw);
    }
  }
}

@media screen and (min-width: 1024px) {
  .modal {
    position: fixed;
    top: 6vh;
    left: calc(25vw + 10%);
    right: calc(25vw + 10%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px 15px 40px 15px;
    p {
      font-size: calc(2.2rem - 1.1vw);
    }
    input {
      font-size: calc(2.2rem - 1.1vw);
    }
  }
}
