@import "../../styles/commons.scss";

.navbar-mobile {
  background-color: $deep-purple;
  border-top: 3px solid $yellow;
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
  padding-bottom: 1.5rem;
  position: fixed;
  bottom: 0px;
  width: 100%;
  &.player-mode {
    img {
      filter: hue-rotate(82deg) contrast(150%);
    }
  }
}
