@import "../styles/commons.scss";

.gallery-title {
  margin: 5rem;
}

.gallery {
  margin: 5rem 2.5rem 10rem;
  border-radius: 10px;
  border: 3px solid $extra-light-yellow;

  display: grid;
  grid-template-areas:
    "g1 g2"
    "g3 g3"
    "g4 g4"
    "g5 g6"
    "g5 g7"
    "g8 g8"
    "g9 g10"
    "g11 g10"
    "g12 g12"
    "g13 g13";

  @for $i from 1 through 13 {
    img:nth-of-type(#{$i}) {
      grid-area: g#{$i};
    }
  }

  img {
    height: 100%;
    width: 100%;
  }
}
