@import "../styles/commons.scss";

.gallery-title {
  margin: 5rem;
}

.gallery {
  margin-bottom: 5rem;
  border-radius: 10px;
  border: 3px solid $extra-light-yellow;

  display: grid;

  img {
    max-width: 100%;
  }
}
