@import "../styles/commons.scss";

.home-page {
  margin: 8vh 8vw;
  button {
    margin-top: 4vh;
    margin-bottom: 10vh;
  }
  p {
    text-align: left;
    margin: 3vh 0vh;
  }

  .kesako-content {
    display: flex;
    flex-direction: column-reverse;

    img {
      max-width: 100%;
      border-radius: 15px;
      margin-bottom: 5vh;
    }
  }
  .grid-ranking {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(3, 2fr);
    grid-auto-rows: auto;
    grid-auto-columns: minmax(10vh, 20vh);
    p {
      margin: 0;
    }

    %grid-top {
      font-weight: 800;
      color: $deep-purple;
      border-radius: 5px;
      height: 10vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .rank-one {
      @extend %grid-top;
      grid-column: 1 / 3;
      grid-row: 1/2;
      margin: 0 10vh;
      background-color: $red;
      align-self: flex-end;
    }
    .rank-two {
      @extend %grid-top;
      grid-column: 1 / 2;
      grid-row: 2/3;
      background-color: $yellow;
    }
    .rank-three {
      @extend %grid-top;
      grid-column: 2 / 3;
      grid-row: 2/3;
      background-color: $cyan;
      align-self: flex-start;
    }
    .rank-four {
      grid-column: 1 / 3;
      grid-row: 3/4;
      p {
        text-align: center;
      }
    }
  }
  // ol {
  //   padding: 0;
  //   margin: 0;
  //   list-style-position: inside;
  //   li::before {
  //     padding-right: 8px;
  //     text-align: center;
  //   }}
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .home-page {
    .kesako-content,
    .instructions {
      display: flex;
      flex-direction: row;
      border-radius: solid white;
      img {
        max-width: calc(40vh - 10px);
        margin: 0vh 3vw;
      }
      button {
        display: flex;
        justify-content: start;
      }
    }
    .instructions {
      justify-content: center;
    }

    .ranking {
      margin-left: 10vw;
      min-width: calc(50vh - 10px);
    }
  }
}

@media screen and (min-width: 1024px) {
  .home-page {
    .kesako-content,
    .instructions {
      display: flex;
      flex-direction: row;
      justify-content: center;
      img {
        max-width: calc(60vh - 10px);
        margin: 0vh 3vw;
      }
      button {
        display: flex;
        justify-content: start;
      }
    }
    .instructions {
      justify-content: center;
    }

    .ranking {
      margin-left: 10vw;
      min-width: calc(50vh - 10px);
    }
  }
}
