@import "../styles/commons.scss";

.leaflet-container {
  height: 75vh;
  margin-top: 5rem;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 0.7rem;
}

.add-h2 {
  margin-top: 5rem;
}

.content {
  margin-top: 2rem;
  display: flex;
  justify-content: center;

  form {
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  .parent-div {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .align-div {
      display: flex;
      flex-direction: column;
      align-items: start;

      input {
        font-style: oblique;
        padding: 6px 100px;
        border-radius: 2px;
        margin-top: 5px;
        margin-bottom: 20px;
        background-color: $extra-light-yellow;
        border-color: $extra-light-yellow;
        border-radius: 0.3rem;
        color: $deep-purple;
      }

      .desc-inp {
        padding: 70px 100px;
      }

      .about-inp {
        padding: 35px 100px;
      }
      p {
        .cyan-span {
          color: $light-cyan;
        }
      }
    }
  }
}

button {
  background-color: $light-cyan;
  border: $light-cyan;
  border-radius: 0.2rem;
  padding: 10px 60px;
  margin-top: 3rem;
  margin-bottom: 2rem;
  color: $deep-purple;
}
