@import "../styles/commons.scss";

.map-container {
  width: 93vw;
  height: 40vh;
  margin: auto;
  margin-top: 1rem;
  border-radius: 0.8rem;
}

.add-h2 {
  margin-top: 3rem;
}

.download-map-img {
  width: 5%;
  margin-top: 2%;
  margin-bottom: 1%;
  padding: 0.5rem;
  transform: rotate(180deg);
  background-color: $extra-light-yellow;
  border-radius: 30%;
}

.reg-button {
  background-color: $light-yellow;
  border: $light-cyan;
  border-radius: 0.3rem;
  padding: 10px 60px;
  margin-top: 2.5rem;
  margin-bottom: 2rem;
  color: $deep-purple;
}

@media screen and (min-width: 650px) {
  .map-container {
    width: 95%;
    height: 80vh;
    margin-top: 3rem;
    border-radius: 0.8rem;
  }
  .add-h2 {
    margin-top: 5rem;
  }
}
